/* Media Queries */

// Small height
$screen-sm-max-height: 415px;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Small tablets (portrait view)
$screen-md-min: 769px;


// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;

// Small height
@mixin sm-h {
   @media (max-height: #{$screen-sm-max-height}) {
       @content;
   }
}

// Small devices
@mixin sm {
   @media (max-width: #{$screen-sm-max}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (max-width: #{$screen-md-max}) {
       @content;
   }
}

// Medium devices min-width
@mixin md-min {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (max-width: #{$screen-lg-max}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (max-width: #{$screen-xl-max}) {
       @content;
   }
}

/**
 * Site header
 */
.header {display: none;}

.site-header {
  min-height: $spacing-unit * 1.865;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: block;
  // Positioning context for the mobile navigation icon
  //position: relative;
  img {margin: 0 auto; display: block; max-width: 10rem; 
        @include sm-h {max-width: 6rem;}
      }
  a {color: #fff; font-weight: 100; font-family: 'helvetica';}
  a:hover {text-decoration: none; color: #ecae96cc;}
  a:focus {color:#ecae96cc;}
  ul {list-style-type: none; display: table;
      li {padding: .9rem; display: table-cell; vertical-align: middle; text-transform: uppercase;} 
      @include sm-h {padding-top: 0.2rem;}
  }

.site-header {
  ul > .display-none {@include md {display: none;}}
  }
  
}

.site-header > div > ul {@include md {margin:0 auto;}}

.site-header1 {
  min-height: $spacing-unit * 1.865;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #161618;
  // Positioning context for the mobile navigation icon
  //position: relative;
  img {margin: 0 auto; display: block; max-width: 6rem; }
  a {color: #fff; font-weight: 100; font-family: 'helvetica';}
  a:hover {text-decoration: none; color: #ecae96cc;}
  a:focus {color:#ecae96cc;}
  ul {list-style-type: none; display: table; padding-top: .2rem; margin-bottom: 5px; margin-left: 60px;
      li {padding: .9rem; display: table-cell; vertical-align: middle; text-transform: uppercase;} 

  }

.site-header1 {
  ul > .display-none {@include md {display: none;}}
  }
  
}

.site-header1 > div > ul {@include md {margin:0 auto;}}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: #fff;
    line-height: $base-line-height;

    @include md-min {display:none;}

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @include sm-h {
    top: 24px !important; 
    right: 10px !important;
  }

  @include sm {
    top: 10px !important;
    right:10px !important;
  }

  @include md {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: #fff;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      text-transform: uppercase;
      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

.site-nav1 {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;


  .nav-trigger1 {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: #fff;
    line-height: $base-line-height;

    @include md-min {display:none;}

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include sm {
    top: 24px !important;
    right:10px !important;
  }

  @include md {
    position: absolute;
    top: 23px;
    right: 30px;
    background-color: #161618;
    border: none;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger1"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: #fff;
      }
    }

    input ~ .trigger1 {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger1 {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}


/**
 * Site footer
 */
.site-footer {
  padding: 0px; text-align: center; background-color: #161618;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;

    ul {list-style-type: none; display: inline-flex; margin-left: none;
      li {padding: .4rem;}
      img {max-width: 2rem;}
    }
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
/* Custom Header CSS */

.display-none {@include md {display: none !important;}}

/* Background Video */

#backgroundVideo {
    position: fixed;
    top: 50%;
    background-size: cover;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    @include sm {display: none;}
  }

.home-background-video {
    height: 100vh; display: table;
      h1, h2, h3 {display: table-cell; vertical-align: middle; color: white; font-size: 3rem;
       font-weight: 200; text-shadow: 2px 2px 2px black; letter-spacing: .3rem;}
  }

.front-content{
  display: flex;
  justify-content: center;
  align-items: center;
    h1, h4, a{color:white; display: block; text-shadow: 2px 2px 2px black; letter-spacing: .3rem; font-family: 'Oswald';

      
      
      }
    strong > a{font-weight: 200;
            text-align: center;
            padding: .5rem;
            border: 3px solid #ffffffe6;
            background: #00000080;
            font-size: 1.4rem;}
    strong > a:hover {text-decoration: none; color:#ecae96cc;}

    

    span{font-size:.78rem;color:white; 
        display: block; text-shadow: 2px 2px 2px black; 
        letter-spacing: .3rem; font-family: 'Oswald';}
    a{color:white;}

    @include sm {background: url(mobile-background.jpg);  background-repeat: no-repeat;
    background-attachment: initial;
    background-position: center; }
}

/* Music */

#music {padding: 5rem; padding-top: 3rem; text-align: center; 
  background: url(music-background3.jpg); background-repeat: no-repeat;
  background-size: cover;
    h1 {padding-bottom: 2rem;}
    @include sm {padding-left: 1rem; padding-right: 1rem;}
}

#music h1 {@include sm {font-size: 2.2rem;}}

/* Shows */
#shows {padding: 5rem;
        padding-top: 5rem;
        padding-top: 3rem; text-align: center; background-color: #161618;
        h1 {color: white; padding-top: 1rem; padding-bottom: 2rem;}
        @include sm {padding-right:1rem; padding-left: 1rem;}
}

#shows h1 {@include sm {font-size: 2.2rem;}}

.lower-content h1 {font-size: 3.5rem; font-weight: 200;}

/* Videos/Responsive iframe */

#videos {text-align: center; background-color: white;
          padding-top: 5rem;
          padding-bottom: 5rem;
          h1 {padding-bottom: 2rem;}
          @include sm {padding-top: .4rem; padding-bottom: .4rem;}
        }

.smaller-iframe {width: 38%; display:inline-table;
  @include sm {width: 100%;}  

  
}

.smaller-iframe > div > iframe {
    @include sm {width: 91% !important; height: 75% !important;}
  }

/* Subscribe */

#subscribe {padding: 5rem; padding-top: 3rem; text-align: center; background-color: #161618; color: white;
    h1 {color: white; padding-bottom: 2rem;}
  }

#subscribe h1 {@include sm {font-size: 2.2rem;}}

#mc_embed_signup {background-color: transparent !important;}
#mc_embed_signup form {text-align: center !important; padding: inherit !important;}
#mc_embed_signup input.email {margin: 0 auto !important; width: 50% !important; text-align: center !important; 
  margin-bottom: 1rem !important; max-width: 400px; display: initial !important;}
#mc_embed_signup .clear {display: ruby !important;}
#mc_embed_signup input.button {max-width: 300px !important; min-width: 140px !important; margin: 0 auto !important;}



